*{
    padding: 0 0;
    box-sizing: border-box;
}
h2{
    font-size: 40px;
}
.nav-menu{
    border: 1px solid aqua;
}
#first-item{
   font-size: 25px;
}
#link1{
    color: red;
}
.nav-menu a{
    font-weight: normal;
    text-decoration: none;
}
.nav-menu .menu-link{
    font-weight: 800;
}
.header .nav .nav-menu .nav-item{
    background: rgb(100,50,50);
}
